<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kodisha</title>
    
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <link href="~/Content/css/Shared.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class="navopacity">
            <nav class="navi">
                <div class="logo-container">
                    <h2>Kodi</h2>
                </div>
                <ul class="navlink">
                   
                    <li>
                        @Html.ActionLink("Home", "Index", "Property")
                    </li>
                  
                    <li class="prop">
                        Properties
                        <ul class="inner">
                           
                            <li>
                                @Html.ActionLink("Listings", "Listings", "Property")
                            </li>
                          
                        
                            <li>Rent Property</li>
                        
                        </ul>
                    </li>
                 
                    <li>About</li>
                 

                    <li>Contact</li>
                   
                </ul>
                <div class="btns">
                    <Button class="addList">@Html.ActionLink("Add Listing","AddListings","Property")</Button>
                    <div class="reg">
                        <Button class="logihn">Login </Button>
                        <Button class="sign">Sign-Up </Button>
                    </div>

                </div>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="foot">
        <div class="myFooter">
            <div class="logo_container">
                <div class="logod">
                    <h2>Kodi</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="links">
                    <i class='bx bxl-facebook'></i>
                    <i class='bx bxl-instagram'></i>
                    <i class='bx bxl-twitter'></i>
                </div>
            </div>
            <div class="menu">
                <h3>Products</h3>
                <ul>

                    <a href="#">
                    <li>Rentals</li></a>
                    <a href="#">
                    <li>For sale</li></a>

                </ul>
            </div>
            <div class="menu">
                <h3>Policy</h3>
                <ul>
                    <a href="#">
                    <li>Privacy Policy</li></a>
                    <a href="#">
                    <li>Terms and Conditions</li></a>

                </ul>
            </div>

        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/Js/Main.js"></script>
</body>
</html>